<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/homepage.css' />
    <link rel='stylesheet' href='/stylesheets/login.css' />
  </head>
  <body id= 'homepage_body'>
    <div class = 'grayOne'></div>
    <div class = 'middle' id = 'head'>
      欢迎大家来到肆意团练
    </div>
    <div class = 'Login' id = 'Loginid'><!--登陆按钮的主区域-->
      <div class = 'LoginSignu middle' id = 'LoginButton'><!--登陆块-->
        登陆
      </div>
      <div class = 'LoginSignu middle' id='SignupButton'><!--注册块-->
        注册
      </div>
    </div>
    <div class = 'LoginTable'><!--登陆表格-->
      <div class = 'userId'>
        <div class = 'userIdWord'></div>
        <div class = 'userIdInput'></div>
      </div><!--账号-->
      <div class = 'password'>
        <div class = 'passwordWord'></div>
        <div class = 'passwordInput'></div>
      </div><!--密码-->
      <div class = 'check'>
        <div class = 'checkWord'></div>
        <div class = 'checkInput'></div>
      </div><!--验证码-->
    </div>
  </body>
  <script type='text/javascript' src='/javascripts/jquery-3.2.1.min.js'></script>
  <script type='text/javascript' src='/javascripts/home_page_brow.js'></script>
</html>
