<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/homepage.css' />
    <link rel='stylesheet' href='/stylesheets/login.css' />
  </head>
  <body id= 'homepage_body'>
    <div class = 'grayOne'></div>
    <div class = 'middle' id = 'head'>
      欢迎大家来到肆意团练
    </div>
    
  </body>
  <script type='text/javascript' src='/javascripts/jquery-3.2.1.min.js'></script>
  <script type='text/javascript' src='/javascripts/home_page_brow.js'></script>
</html>
